
body {
  background-color: rgb(45, 45, 45);
}
h1 {
  color: rgb(1, 129, 165);
  font-size: 40px;
  font-family: Lobster;
}
.body-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: monospace;
}
